html {
    min-height: 100%;
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
}

.draggable-ship {
    border: 2px solid #00FF;
    background-color: rgba(0, 0, 255, 0.5);
    height: 40px;
    width: 40px;
}

.battleship-row {
    display: flex;
}

.battleship-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid black 1px;
}

.battleship-cell-content {
    background: transparent;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}

.battleship-cell {
    background-color: #1581fc;
}

.ship {
    background-color: #33EE33;
}

.attacked {
    background: #EE6666;
}

.not-sunk {
    background-color: #11AA11;
}

.sunk {
    background-color: #EE1111;
}